$color-comunica-red: #9C0510;
$color-comunica-red-light: #c20e1c;
$color-comunica-red-dark: #740008;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
    box-sizing: border-box;
}

p, li {
    margin: 0.5rem 0 0.5rem;
    line-height: 1.5rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e5e3e3;
    margin: 0;
    padding: 0;
}

:target::before {
    content: "";
    display: block;
    height: 60px; /* fixed header height*/
    padding: -60px 0 0; /* negative fixed header height */
}

nav {
    position: fixed;
    background: $color-comunica-red;
    width: 100%;
    margin: 0;
    height: 3.5rem;
    color: white;

    ul {
        float: right;
        margin: 1rem 3rem;
        li {
            margin-left: 2rem;
            list-style: none;
            display: inline;
            font-size: 1rem;
            color: #FFFFFF;
            a {
                color: #FFFFFF;
                padding: 0 4px 4px 4px;
                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                    border-bottom: 2px solid #FFFFFF;
                }
            }
        }
    }
    .nav-icon {
        margin: 0.5rem 0 0.5rem 3rem;
        height: 2.5rem;
        vertical-align: middle;
        float: left;
    }
}
.nav-pusher {
    height: 3.5rem;
}

ul.breadcrumbs {
    margin: 0.5rem 0;
    padding: 0;
    li {
        color: #747474;
        list-style: none;
        display: inline-block;
        &:not(:last-child):after {
            color: #747474;
            content: " / ";
            margin-right: 0.3rem;
        }
    }
}

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-page {
    min-height: 100vh;
    padding: 0 0.5rem;
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main {
    padding: 0 0 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    width: 100%;
    height: 100px;
    padding: 2rem;
    border-top: 1px solid #eaeaea;
    text-align: center;
    line-height: 1.5rem;
}

a {
    color: $color-comunica-red-dark;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

code {
    background: #f8f8f8;
    border-radius: 5px;
    padding: 0.15rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

code.text {
    display: block;
}

pre {
    display: block;
    overflow-x: scroll;
    width: 800px;
}

.grid-wide {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 800px;
}

.card-info {
    flex-basis: 95%;
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.card {
    @extend .card-info;
    flex-basis: 45%;
}

.card:hover,
.card:focus,
.card:active {
    color: $color-comunica-red-light;
    border-color: $color-comunica-red-light;
    text-decoration: none;
}

.card-info h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card-info p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
}

.intro {
    text-align: center;

    .comunica-logo {
        width: 15rem;
    }

    .title {
        font-size: 3rem;
    }
}

.feature-icon {
    float: left;
    margin-right: 0.5rem;
    height: 2rem;
}

.index-entry {
    display: block;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.indent-1 {
    margin-left: 2rem;
}

.index-entry:hover,
.index-entry:focus,
.index-entry:active {
    color: $color-comunica-red-light;
    text-decoration: none;
    h3:after {
        content: ' \2192';
    }
}

.index-entry h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.1rem;
}

.index-entry p {
    margin: 0;
    font-size: 1.05rem;
    line-height: 1.5;
    color: #6f6f6f;
}

.note {
    padding: 1rem;
    background: #e7eefa;
    border: 1px solid #3e75d0;
    border-radius: 5px;
    line-height: 1.5rem;
    &:before {
        content: 'Note: ';
        font-weight: bold;
    }
}

.docs-intro-img {
    text-align: center;
    padding: 1rem;
}

.headers-overview {
    display: none;
    position: fixed;
    top: 60px;
    right: 16px;
    width: 250px;
    font-size: 12px;
    z-index: 1000;
    overflow-y: scroll;

    p {
        font-weight: bold;
    }

    ol {
        padding: 0;
        li {
            line-height: 1rem;
            list-style: none;
            margin: 0;
            padding-bottom: 0.5rem;
            a.headers-overview-element-active {
                font-weight: bold;
            }
        }
    }
}

@media (max-width: 1350px) {
    .headers-overview {
        display: none;
    }
}

@media (max-width: 800px) {
    ul.breadcrumbs {
        li {
            display: block;
            &:not(:last-child):after {
                content: "";
                margin: 0;
            }
        }
    }
    .grid, .grid-wide {
        min-width: 0;
        width: 100%;
        flex-direction: column;
    }
    .container-page {
        width: 100%;
    }
    nav {
        position: inherit;
        margin-top: -1rem;
        height: auto;
        ul {
            float: none;
            li {
                margin-top: 1rem;
                display: block;
            }
        }
    }
    .nav-pusher {
        height: 0;
    }
}

@media (max-width: 800px) and (min-width: 600px) {
    pre {
        width: 600px;
    }
}

@media (max-width: 600px) and (min-width: 400px) {
    pre {
        width: 400px;
    }
}

@media (max-width: 400px) and (min-width: 200px) {
    pre {
        width: 200px;
    }
}
